* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
}
.left {
  width: 20vw;
  height: 100vh;
}
.right {
  width: 80vw;
  height: 100vh;
}
.up {
  display: flex;
  flex-direction: row;
}
/* hamburger */
#nav {
  width: 3rem;
}
#menu {
  display: flex;
}

#nav label,
#hamburger {
  display: none;
}

/* styling nav */
.left {
  padding: 2rem 3rem 0rem 4rem;
  max-height: 100%;
}
.logo {
  font-family: "Playfair Display", serif;
  font-size: 2.9rem;
  font-weight: 800;
  padding-bottom: 2rem;
}
.logoText {
  margin: 0;
}

ul {
  padding: 0 0 0 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}
li {
  list-style-type: none;
}
li a {
  display: block;
  color: rgb(98, 95, 95);
  padding: 2rem 0;
  text-decoration: none;
  font-size: 1rem;
}
strike {
  text-decoration-color: red;
}
.icon {
  margin-right: 10px;
}

button {
  border: none;
  color: white;
  font-size: 1rem;
  background-color: rgb(255, 37, 8);
  border-radius: 2rem;
  padding: 1rem 3rem;
  margin: 2rem 0 0 0;
}
#logo {
  display: none;
}
/* Styling question */
.questionText {
  font-family: "Playfair Display", serif;
  font-size: 5.6rem;
  font-weight: 1000;
  padding: 9rem 0 4.5rem 0;
}

/* styling useless para */
.loremText {
  font-size: 1.2rem;
  color: rgb(98, 95, 95);
  padding: 10rem 0 0 7rem;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.7;
}
.underline {
  text-decoration: underline;
  text-decoration-color: red;
  color: white;
}
/*styling cards */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
}

.cardContainer {
  width: 14rem;
  height: 17rem;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  border-radius: 2rem;
  text-align: center;
  font-size: 1rem;
  box-shadow: 10px 10px 20px rgba(79, 78, 78, 0.2),
    10px 10px 60px rgba(79, 78, 78, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.6rem;
}

.image {
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  padding: 1rem;
}

.name {
  font-weight: 2000;
  font-size: 1rem;
  font-weight: bolder;
  padding-top: 1rem;
}

/* media query */
@media (max-width: 411px) {
  .container {
    position: relative;
    height: 100vh;
    width: 100vw;
  }
  .left {
    display: flex;
    position: absolute;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 15vh;
    padding: 2rem 0 2rem 0;
  }
  #hamburger {
    order: 1;
  }
  .logo {
    order: 2;
  }
  #logo {
    order: 3;
  }
  .logoText {
    visibility: hidden;
  }
  .logoText:after {
    visibility: visible;
    content: "Lorem";
    text-align: center;
    position: absolute;
    top: 27%;
    left: 38%;
    font-size: 1.7rem;
    font-weight: 1000;
    padding: 0.1rem;
  }
  button {
    display: none;
  }
  #logo {
    display: block;
  }
  #logo img {
    position: absolute;
    top: 29%;
    right: 13%;
    width: 2.3rem;
    height: 2.3rem;
  }

  /* question */
  .questionText {
    width: 100vw;
    font-size: 2rem;
    padding: 0 3rem;
    word-spacing: normal;
  }

  .right {
    position: absolute;
    flex-direction: column;
    top: 20vh;
  }
  #menu a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid #333;
  }
  #nav label {
    display: inline-block;
    color: red;
    padding: 6px;
    font-size: 2rem;
  }
  #menu {
    display: none;
  }
  #nav input:checked ~ #menu {
    display: block;
  }
  .up {
    display: flex;
    flex-direction: column;
  }

  /* cards */
  .down {
    width: 100vw;
    padding: 2.6rem 2.5rem;
    position: absolute;
  }
  .cardContainer {
    width: 9.8rem;
    height: 12rem;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    border-radius: 1.6rem;
    text-align: center;
    font-size: 1rem;
    box-shadow: 10px 10px 20px rgba(79, 78, 78, 0.2),
      10px 10px 60px rgba(79, 78, 78, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }
  .hakka {
    display: none;
  }
  .image {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
  }
  .name {
    font-weight: 2000;
    font-size: 0.8rem;
    font-weight: 1000;
    padding-top: 1rem;
  }

  .loremText {
    width: 100vw;
    position: absolute;
    top: 80%;
    font-size: 1rem;
    color: rgb(98, 95, 95);
    padding: 3rem 3rem 1rem 3rem;
    font-weight: 800;
  }
}
