* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
}

/* styling nav */
.system {
  padding: 2rem 3rem 2rem 3rem;
  height: 100%;
}
.logo {
  font-size: 2.9rem;
  font-weight: bold;
}
.logoText {
  margin: 0 0;
}

ul {
  padding: 0 0 0 0;
}
li {
  list-style-type: none;
}
li a {
  display: block;
  color: rgb(98, 95, 95);
  padding: 2rem 0;
  text-decoration: none;
  font-size: 1.2rem;
}
.lineThrough {
  text-decoration-line: line-through;
  text-decoration-color: red;
}

.icon {
  margin-right: 10px;
}

button {
  border: none;
  color: white;
  background-color: rgb(174, 79, 79);
  border-radius: 2rem;
  padding: 1rem 3rem;
  margin: 0 0 0 0;
}
/* Styling question */
.questionText {
  font-size: 5.6rem;
  font-weight: bolder;
}

/*styling cards */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container {
  width: 22em;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  border-radius: 3em;
  text-align: center;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1em;
  box-shadow: 10px 10px 4.6em grey;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.user-image {
  padding: 3em 1em;
}

.user-image img {
  width: 15em;
  height: 15em;
  border-radius: 50%;
}

.content {
  color: black;
  padding: 2.2em;
}

.name {
  font-size: 2em;
  font-weight: bolder;
}

.username {
  font-size: 1em;
  color: black;
}
